{% extends 'base.html' %}
{% block title %}Edit / Upload Page{% endblock %}


{% block body %}

<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
	<center>
		<h2>Edit / Upload</h2>
	</center>


	<select class="form-select" aria-label="Default select example">
		<option selected>Open this select menu</option>
		<option value="1">One</option>
		<option value="2">Two</option>
		<option value="3">Three</option>
	</select>

	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="title">
	</div>

	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="desciption">
	</div>

	<div class="mb-3">
		<label for="formFile" class="form-label">Media Upload</label>
		<input class="form-control" type="file" id="formFile">
	</div>

</div>


{% endblock %}