{% extends 'base.html' %}
{% block title %}Settings Page{% endblock %}


{% block body %}

<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
	<center>
		<h2>Settings</h2>
        <br><br><br>
        <p>Name</p>
        <p>Description</p>
        <p>Main Image</p>
        <p>Contact Email</p>
        <p>Accept Donations?</p>
        <p>Sell Merch / Items?</p>
        <p>Donation Description</p>
        <p>Add Donation Methods</p>
        <p>Add Social Media Links</p>
        <p>Allow Registrations / Logins?</p>
        <p>What are your 'posts' called?</p>


	</center>
</div>


{% endblock %}