{% extends 'base.html' %}
{% block title %}Analytics Page{% endblock %}


{% block body %}


<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
	<center>
		<h2>Analytics by IP</h2>
	</center>

    <div id='map' style='width: 100%; height: 300px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiamltbXlyeWFuIiwiYSI6ImNrd2VidTMwNjAzM3Myd201eXl3Y3oycmcifQ.gqgHjoQCGZ_VtHUv7G495Q';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9 // starting zoom
    });
    </script>

</div>

<div class="row" style="padding-top:50px;padding-bottom:50px;">

    <div class="col-md-4">
      <h3>General</h3>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
    </div>

    <div class="col-md-4">
      <h3>Episodes</h3>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
    </div>
    
    <div class="col-md-4">
      <h3>Users</h3>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
      <p>d678hna6dnh7sa6dhsa7dhsa87dh</p>
    </div>

</div>

<div style="padding-top:50px;padding-bottom:50px;">
    <h3>Logs</h3>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="feed-tab" data-bs-toggle="tab" data-bs-target="#feed" type="button" role="tab" aria-controls="feed" aria-selected="true">Feed Requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="media-tab" data-bs-toggle="tab" data-bs-target="#media" type="button" role="tab" aria-controls="media" aria-selected="false">Media Requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="failed-tab" data-bs-toggle="tab" data-bs-target="#failed" type="button" role="tab" aria-controls="failed" aria-selected="false">Failed Requests</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="false">All</button>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="feed" role="tabpanel" aria-labelledby="feed-tab">
        <div style="margin: 20px; height: 250px; overflow-y: scroll;">
        {% for item in analytics_data %}
        {% if item[4] == '/static/podcast.xml' %}
        <p><b>IP:</b> <a href="/admin/analytics/ip/{{item[1]}}">{{item[1]}}</a> <b>Request:</b> {{item[4]}} <b>City:</b> {{item[10]}} <b>State:</b> {{item[11]}} <b>Country:</b> {{item[9]}} <b>Time:</b> {{item[8]}}</p>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="tab-pane" id="media" role="tabpanel" aria-labelledby="media-tab">
        <div style="margin: 20px; height: 250px; overflow-y: scroll;">
        {% for item in analytics_data %}
        {% if '/static/media/' in item[4] %}
        <p>IP: {{item[1]}} Request: {{item[4]}} City: {{item[10]}} State: {{item[11]}} Country: {{item[9]}} Lat: {{item[12]}} Long: {{item[12]}} Time: {{item[8]}}</p>
        {% endif %}
        {% endfor %}   
        </div>     
    </div>
    <div class="tab-pane" id="failed" role="tabpanel" aria-labelledby="failed-tab">
        <div style="margin: 20px; height: 250px; overflow-y: scroll;">
        {% for item in analytics_data %}
        {% if '404' in item[7] %}
        <p>IP: {{item[1]}} Request: {{item[4]}} City: {{item[10]}} State: {{item[11]}} Country: {{item[9]}} Lat: {{item[12]}} Long: {{item[12]}} Time: {{item[8]}}</p>
        {% endif %}
        {% endfor %}
        </div>         
    </div>
    <div class="tab-pane" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div style="margin: 20px; height: 250px; overflow-y: scroll;">
        {% for item in analytics_data %}
        <p>IP: {{item[1]}} Request: {{item[4]}} City: {{item[10]}} State: {{item[11]}} Country: {{item[9]}} Lat: {{item[12]}} Long: {{item[12]}} Time: {{item[8]}}</p>
        {% endfor %}
        </div>     
    </div>
  </div>


{% endblock %}