{% extends 'base.html' %}
{% block title %}Admin Page{% endblock %}


{% block body %}


<div class="row" style="padding-bottom: 20px; padding-top: 20px;">

	<div class="alert alert-primary" role="alert">
	A simple primary alert—check it out!
	</div>
	<div class="alert alert-secondary" role="alert">
	A simple secondary alert—check it out!
	</div>
	<div class="alert alert-success" role="alert">
	A simple success alert—check it out!
	</div>
	<div class="alert alert-danger" role="alert">
	A simple danger alert—check it out!
	</div>
	<div class="alert alert-warning" role="alert">
	A simple warning alert—check it out!
	</div>
	<div class="alert alert-info" role="alert">
	A simple info alert—check it out!
	</div>

	<center>
		<h2>Admin</h2>
	</center>
</div>


{% endblock %}