{% extends 'base.html' %}
{% block title %}Contact{% endblock %}


{% block body %}

<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
	<center>
		<h2>Contact</h2>
	</center>
</div>

<div class="container">
	<form method="post">
	    <p><input style="width:100%" type=text name=name placeholder="Name">
	    <p><input style="width:100%" type=text name=email placeholder="Email">
	    <p><textarea style="width:100%" name="message" rows="4" cols="50" placeholder="Message"></textarea>
	    <p><input style="width:100%" type=submit value=Send>
	</form>
</div>

{% endblock %}