{% extends 'base.html' %}
{% block title %}Posts{% endblock %}


{% block body %}

<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
	<center>
		<h2>{{post_data[1]}}</h2>
	</center>
</div>
<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-4">
		<img class="img-fluid" src="{{post_data[5]}}">
    </div>	
	<div class="col-md-8">
		<p>{{post_data[2]}}</p>
		<p>Duration: {{post_data[6]}}</p>
		<p>Published: {{post_data[9]}}</p>
    </div>
</div>
<div class="row" style="padding-bottom: 20px;">
	<audio controls src="{{post_data[4]}}"></audio>
</div>


{% endblock %}